name: test and deploy
on:
  workflow_dispatch:
    inputs:
      deploy:
        type: boolean
        description: Deploy if not a release
        default: false
  push: ~
  release:
    types: [published]
env:
  RANCHER_PROJECT: Dissemination services
  RANCHER_NAMESPACE: arche-biblatex
jobs:
  testAndDeploy:
    runs-on: ubuntu-latest
    steps:
      - uses: acdh-oeaw/arche_cicd_start_action@main
        with:
          phpExtensions: json,yaml,pdo,pdo_sqlite
          phpstanLevel: 0
          prepareRepoConfig: true
      - name: build docker image
        run: |
          mkdir build/docroot && cp -R `ls -1 | grep -v ^build` build/docroot/ && cp build/config/arche.yaml build/docroot/config.yaml && cp build/config/*csl build/docroot/
          docker build --rm -t "acdhch/$RANCHER_NAMESPACE:latest" --build-arg VARIANT=production --label "buildUrl=$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID" build
      - name: test image
        run: |
          composer update
          vendor/bin/yaml-edit.php --src build/config/arche.yaml --src '{"dissCacheService": {"repoDb": []}}' config.yaml
          docker run -d --name "$RANCHER_NAMESPACE" -v `pwd`/config.yaml:/var/www/html/config.yaml -p 8080:80 "acdhch/$RANCHER_NAMESPACE:latest"
          sleep 5
          # acdh:Resource
          curl -f -i 'http://127.0.0.1:8080/?id=https%3A%2F%2Fhdl.handle.net%2F21.11115%2F0000-000E-5942-4'
          curl -f -i 'http://127.0.0.1:8080/?id=https%3A%2F%2Fhdl.handle.net%2F21.11115%2F0000-000E-5942-4'
          # acdh:Collection
          curl -f -i 'http://127.0.0.1:8080/?id=https%3A%2F%2Fhdl.handle.net%2F21.11115%2F0000-0016-7FCD-4'
          curl -f -i 'http://127.0.0.1:8080/?id=https%3A%2F%2Fhdl.handle.net%2F21.11115%2F0000-0016-7FCD-4'
          # acdh:TopCollection
          curl -f -i 'http://127.0.0.1:8080/?id=https%3A%2F%2Fhdl.handle.net%2F21.11115%2F0000-000E-558C-5'
          curl -f -i 'http://127.0.0.1:8080/?id=https%3A%2F%2Fhdl.handle.net%2F21.11115%2F0000-000E-558C-5'
          # acdh:Publication
          curl -f -i 'http://127.0.0.1:8080/?id=https%3A%2F%2Fid.acdh.oeaw.ac.at%2Fpub-hagmann-2024'
          curl -f -i 'http://127.0.0.1:8080/?id=https%3A%2F%2Fid.acdh.oeaw.ac.at%2Fpub-hagmann-2024'
          # acdh:Project
          curl -f -i 'http://127.0.0.1:8080/?id=https%3A%2F%2Fid.acdh.oeaw.ac.at%2Fproject-puzzle4d'
          curl -f -i 'http://127.0.0.1:8080/?id=https%3A%2F%2Fid.acdh.oeaw.ac.at%2Fproject-puzzle4d'
      - uses: acdh-oeaw/arche_cicd_finish_action@main
        with:
          pushAndRedeploy: ${{ github.event_name == 'release' && github.event.action == 'published' || inputs.deploy }}
          dockerhubLogin: ${{ secrets.DOCKER_USERNAME }}
          dockehubPassword: ${{ secrets.DOCKER_PASSWORD }}
          imageName: $RANCHER_NAMESPACE
          rancherProject: $RANCHER_PROJECT
          rancherNamespace: $RANCHER_NAMESPACE
          kubectlConfig: ${{ secrets.KUBE_CONFIG }}
          coverallsToken: ${{ secrets.coverallsToken }}
